/* Stylin */

html, body {
  background: #fff;
}

body {
  margin: 0 10px 30px 10px;
}

h1 {
  display: none;
}

/* main */

.main {
  min-width: 1170px;
  margin: 20px auto;
  color: #444;
}

.main th, .main td {
  border: #eee 2px solid;
  padding: 5px 10px;
}

tr.before-today {
  border-left: #EEE 6px solid;
}

tr.today {
  border-left: #48C 6px solid;
}

tr.after-today {
  border-left: #888 6px solid;
}

td.boolean {
  text-align: center;
}

td.boolean .glyphicon-ok {
  color: #666;
}

.main tr:hover td {
  background-color: #fafafa;
}

td.dollar-amount {
  text-align: right;
}

td.buttons {
  text-align: center;
}

td.buttons .glyphicon {
  cursor: pointer;
  margin: 0 5px;
}

td.buttons .glyphicon-pencil {
  color: #337ab7;
}

td.buttons .glyphicon-remove {
  color: #C00;
}
